/* Cabeçalho */
.Cabecalho {
    background-image: linear-gradient(#a3320b, #661d04);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cabecalho_Titulo {
    width: 50%;
    padding-left: 2%;
    text-align: left;
}

.Cabecalho_Titulo span {
    color: white;
    font-weight: bolder;
    font-size: 32px;
}

.Cabecalho_Mensageria {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    font-size: 16px;
    text-align: right;
}

.Mensageria:hover .Mensageria_Mensagens {
    display: block;
}

.Mensageria_Mensagens {
    display: none;
    width: 230px;
    height: 300px;
    margin: auto;
    position: absolute;
    right: 6em;
    top: 3.3em;
    background: rgb(215,38,56);
    background: linear-gradient(180deg, rgba(215,38,56,1) 0%, rgba(215,38,56,1) 12%, rgba(217,48,56,1) 12%, rgba(244,157,55,1) 12%, rgba(244,157,55,1) 88%, rgba(215,38,56,1) 88%, rgba(215,38,56,1) 88%, rgba(215,38,56,1) 100%);
    border-radius: 5px;
}

.Mensageria_BtnRemoverTodas{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mensageria_Mensagem {
    padding-left: 2%;
    text-align: left;
    color: white;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.Mensageria_Conteudo {
    width: 100%;
    height: 76%;
    overflow-y: scroll;
    overflow-x: hidden;
}