$cor_principal_vermelha: #a3320b;
$cor_secundaria_vermelha: #661d04;
$cor_principal_bordas: #A40606;

/* Cabeçalho */
.Cabecalho {
    background-image: linear-gradient($cor_principal_vermelha, $cor_secundaria_vermelha);
    border-bottom: 1px solid $cor_principal_bordas;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .Cabecalho__Titulo {
        width: 50%;
        padding-left: 2%;
        text-align: left;

        & span {
            color: white;
            font-weight: bolder;
            font-size: 32px;
        }
    }

    .Cabecalho__Mensageria {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        padding-right: 2%;
        font-size: 16px;
        text-align: right;
    }
}

/* Mensageria */
.Mensageria {
    .Mensageria__Mensagens {
        display: block;
        width: 150px;
        height: 10px;
        margin: auto;
        position: absolute;
        right: 5em;
        top: 2em;
        background: rgb(215,38,56);
        background: linear-gradient(180deg, rgba(215,38,56,1) 0%, rgba(215,38,56,1) 12%, rgba(217,48,56,1) 12%, rgba(244,157,55,1) 12%, rgba(244,157,55,1) 88%, rgba(215,38,56,1) 88%, rgba(215,38,56,1) 88%, rgba(215,38,56,1) 100%);
        border-radius: 5px;
        
        opacity: 0;
        transition-property: width, height, display, right, top, opacity;
        transition-duration: 0.5s;
    
        .Mensageria__BtnRemoverTodas{
            width: 100%;
            height: 12%;
            display: flex;
            justify-content: center;
            align-items: center;
        }    
    }

    .Mensageria__Conteudo {
        display: hidden;
        width: 100%;
        height: 76%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .Mensageria__Mensagem {
        padding-left: 2%;
        text-align: left;
        color: white;
        border-bottom: 1px solid black;
        cursor: pointer;
    }

    &:hover {
        .Mensageria__Mensagens {
            opacity: 1;
            width: 230px;
            height: 300px;
            right: 6em;
            top: 3.3em;
        }
    }
}

/* Menus */
.Menus {
    width: 20%;
    height: 90vh;
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: linear-gradient(#F5BB00, #EC9F05);

    .Menus__Menu {
        width: 100%;
        height: 8%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $cor_principal_vermelha;
        border-top:1px solid $cor_principal_bordas;
        transition-property: background-color, font-weight, text-shadow;
        transition-duration: 0.5s;
        cursor: pointer;

        &, & a {
            color: white;
            font-size: 16px;
        }

        .Menus__Menu__Filhos {
            display: none;
        }

        &:hover {
            background-color: $cor_secundaria_vermelha;
            font-weight: bold;
            text-shadow: gray 0px 1px;

            .Menus__Menu__Filhos {
                display: block;
                position: absolute;
                left: 21%;
                width: 250px;
                min-height: 80px;
                background-color: blue;
                border-radius: 5px;
            }
        }
    }
}