/* Cabeçalho */
.Cabecalho {
    background-image: linear-gradient(#a3320b, #661d04);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cabecalho_Titulo {
    width: 50%;
    padding-left: 2%;
    text-align: left;
}

.Cabecalho_Titulo span {
    color: white;
    font-weight: bolder;
    font-size: 32px;
}

.Cabecalho_Mensageria {
    width: 50%;
    font-size: 16px;
    text-align: right;
    background-color: gray;
}