.PopUp {
    width: 280px;
    min-height: 42px;
    display: block;
    position: absolute;
    top: 2%;
    right: calc((-1%) + (-280px));
    z-index: 1;
    border-radius: 7px;
    padding: 1%;
    background-color: black;
    border: 1px solid white;
    
}

.PopUp_Abrir {
    animation-name: abrir;
    animation-duration: 0.8s;
    right: 1%;
}

.PopUp_Fechar {
    animation-name: fechar;
    animation-duration: 1s;
}

.PopUp_Cabecalho {
    color: white;
    text-align: justify;
}

.PopUp_Sucesso {
    background-color: #139A43;
    border: 1px solid greenyellow;
}

.PopUp_Erro {
    background-color: #C1292E;
    border: 1px solid rgb(248, 112, 112);
}

.PopUp_Alerta {
    background-color: #E6AF2E;
    border: 1px solid yellow;
}

.PopUp_Informativo {
    background-color: #2274A5;
    border: 1px solid blue;
}

@keyframes fechar {
    from {
        right: 1%;
    }
    to {
        right: calc((-1%) + (-280px));
    };
}

@keyframes abrir {
    from {
        right: calc((-1%) + (-280px));
    }
    to {
        right: 1%
    };
}